
.trips-info {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.trips-info-header {
    margin-bottom: 0.25em;
}

.route-match span + span {
    margin-left: 0.4em;
}

.trips-info span + span {
    margin-left: 0.5em;
}

.route-match-gtfs-name {
    margin-bottom: 0.25em;
}

.match-count {
    font-size: 0.8em;
}

.match-count.all-matched {
    color: green;
}

.trips-h2 {
    margin-top: 0.4em;
    margin-bottom: 0.1em;
}

.selectable {
    cursor: pointer;
}

.routes-filters {
    padding-bottom: 1em;
}

.routes-list {
    border-top: 1px solid black;
}